@charset "utf-8";


header {
    width: 100%;
    padding-bottom: (637-480) / 1020 *100%; 
    z-index: 100;
    background: #c7dffc;
}
.wrap {
    margin: 0 auto;
}

#menu {
    padding-top: 15px;
}
#mlogo {
    width: (436 / $base-width) * 100%;
}

#set {
    width: 22px;

    p {
        height: 2px;
        background: #fff;
    }
    p + p {
        margin-top: 6px;
    }
}
#tl, #tr {
    height: 0;
    z-index: 10;
    width: 485px;
    border-width: $header-height 300px;
    position: absolute;
}

#tl {
    border-color:  transparent transparent #bfdbfb;
}
#tr {
    background: #c7dffc;
    border-color: #c7dffc transparent transparent;
}
a{
    color: #000;
}
