@charset "utf-8";


header {
    width: 100%;
    padding: (637-480)/2 / 1020 *100% 0; 
    z-index: 100;
    background: $base-blue;
}
.height50 {
    height: 50px;
    padding: 0 !important;
}
.wrap {
    margin: 0 auto;
}

#menu {
    height: 50px;
}
#back {
    font: 16px/1.0 $font-family;
    color: #fff;
    line-height: 50px;
}
#mlogo {
    width: (436 / $base-width) * 100%;
}

#set {
    width: 22px;
    padding-top: 15px;

    p {
        height: 2px;
        background: #fff;
    }
    p + p {
        margin-top: 6px;
    }
}
#tl, #tr {
    height: 0;
    z-index: 10;
    width: 485px;
    border-width: $header-height 300px;
    position: absolute;
}

#tl {
    border-color:  transparent transparent #bfdbfb;
}
#tr {
    background: #c7dffc;
    border-color: #c7dffc transparent transparent;
}
a{
    color: #000;
}