@charset "utf-8";
@import "../ui/ui/config";

.header {
    z-index: 100;
}
.wrap {
    margin: 0 auto;
}

#menu {
    padding-top: 15px;
}
#slogo {
    width: 85px;
    height: 67px*(85/300);
    background: url($images-path + "slogo.png");
    background-size: 85px, 67px*(85/300);;
}

#set {
    width: 22px;

    p {
        height: 4px;
        background: #fff;
    }
    p + p {
        margin-top: 4px;
    }
}
#tl, #tr {
    height: 0;
    z-index: 10;
    width: 485px;
    border-width: $header-height 300px;
    position: absolute;
}

#tl {
    border-color:  transparent transparent #bfdbfb;
}
#tr {
    background: #c7dffc;
    border-color: #c7dffc transparent transparent;
}
a{
    color: #000;
}
