    <div id="termBox" class="layx">
        <ul id="term" class="overft">
            <li ng-repeat="term in terms" class="fl {{'item-' + number}}" ng-click="updateTerm($event)">
                {{term}}
            </li>
        </ul>
    </div>
    <div id="score">
        <table>
            <tbody>
                <tr ng-repeat="data in datas | filter: term">
                    <td>{{data.Course}}</td>
                    <td>{{data.Score}}</td>
                </tr>
                <tr>
                    <td>{{data.Course}}</td>
                    <td>{{data.Score}}</td>
                </tr>
            </tbody>
        </table>
    </div>