
    <div class="row-fluid">
        <div class="span10 offset1">
            <ul id="term" class="nav nav-pills">
                <li class="active initTerm"><a href="#">学期</a></li>
                <li ng-repeat="term in terms">
                    <a href="#" ng-click="updateTerm($event)">{{term}}</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row-fluid">
        <div id="score" class="span10 offset1">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>课程</th>
                        <th>成绩</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in datas | filter: term">
                        <td class="span9">{{data.Course}}</td>
                        <td class="span3">{{data.Score}}</td>
                    </tr>
                    <tr>
                        <td class="span9">{{data.Course}}</td>
                        <td class="span3">{{data.Score}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>