@charset "utf-8";

/* 布局
 -------------------------------------------------------------*/
$sub-width:         0;
$extra-width:       0;
$header-height:     200px;
$wrap-width:        (1020-60*2)/1020*100%;
$images-path:        "../images/";
$sprite-path:       $images-path + 'sprite.png';
$base-width: 1020;
